<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Camlex.Client.dll" version="2.2.0.0" targetFramework="net452" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.5715.1200" targetFramework="net452" />
  <package id="SPMeta2.Core" version="1.2.110" targetFramework="net452" />
  <package id="SPMeta2.Core.Standard" version="1.2.110" targetFramework="net452" />
  <package id="SPMeta2.CSOM.Foundation" version="1.2.90" targetFramework="net452" />
  <package id="SPMeta2.CSOM.Foundation-v16" version="1.2.110" targetFramework="net452" />
  <package id="SPMeta2.CSOM.Standard" version="1.2.90" targetFramework="net452" />
</packages>